{% extends 'base.html' %}

{% block content %}
    {% if tasks %}
        <h1>To Do List</h1>
    {% else %}
        <h1>No tasks</h1>
    {% endif %}

    {% for task in tasks %}
        <div class="card border-success" style="width: 18rem;">
          <div class="card-body text-success">
              <h5 class="card-title">{{ task.summary }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Тип: {{ task.type.name }}</h6>
              <p class="card-text">Статус: {{ task.status.name }}</p>
              <a href="{% url "task_view" task.pk %}" class="card-link">More...</a>
              <a href="{% url "task_delete" task.pk %}" class="card-link">Delete</a>
              <a href="{% url "task_update" task.pk %}" class="card-link">Update</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}