{% extends 'base.html' %}

{% block title %}Task {{ task.pk }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_add' %}">Add Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "task_update" task.pk %}">Update Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "task_delete" task.pk %}">Delete Task</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ task.summary}}</h1>
    <h5>Статус: {{ task.status.name }}</h5>
    <h6>Тип задачи: {% for type in task.type.all %}{{ type.name }}{% if not forloop.last %},{% endif %}{% endfor %}</h6>
    <p>Описание:{{ task.description }}</p>
    <p>Дата создания:{{ task.created_at}}</p>
    <p>Дата обновления: {{ task.updated_at }}</p>
    <br>
    <a href="{% url "index" %}">Return to main page</a>
{% endblock %}