{% extends 'base.html' %}

{% block content %}

    {% if projects %}
        <h1>Projects</h1>
    {% else %}
        <h1>No project</h1>
    {% endif %}

    {% for project in projects %}
        <div class="card border-success" style="width: 18rem;">
          <div class="card-body text-success">
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">Описание:{{ project.description }}</p>
              <a href="{{ project.get_absolute_url }}" class="card-link">More...</a>
              {% if user.is_authenticated %}
              <a href="{% url "webapp:project_update" project.pk %}" class="card-link">Update</a>
              <a href="{% url "webapp:project_delete" project.pk %}" class="card-link">Delete</a>
              {% endif %}
          </div>
        </div>
    {% endfor %}
{% endblock %}