{% extends 'base.html' %}

{% block title %}Project {{ project.pk }}{% endblock %}
{% block nav %}
    {% if user.is_authenticated %}
        {% if perms.webapp.add_task_in_own_project and request.user in project.users.all %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:project_task_add' project.pk %}">Add Task</a>
            </li>
        {% endif %}
    {% if perms.webapp.change_project %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:project_update' project.pk %}">Update Project</a>
    </li>
        {% endif %}
        {% if perms.webapp.delete_project %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:project_delete' project.pk %}">Delete Project</a>
    </li>
        {% endif %}
        {% if perms.webapp.change_user_in_own_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:change_project_users' project.pk %}">Add users in project</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ project.name}}</h1>
    <p>Дата начала:{{ project.date_start}}</p>
    <p>Дата окончания: {% if project.date_end %}{{ project.date_end }}{% endif %} </p>
    <p>Описание:{{ project.description }}</p>
    <h6>Пользователи:{% for user_obj in project.users.all %}<a href="{% url 'accounts:user-profile' user_obj.id %}">{{ user_obj.username }}</a>{% if not forloop.last %},{% endif %}
    {% empty %}
            <p>No users yet.</p>
    {% endfor %}
    </h6>
    <h6>Tasks:</h6>
    <div>
        {% for task in tasks %}
        <div class="card border-success" style="width: 18rem;">
          <div class="card-body text-success">
              <h5 class="card-title">{{ task.summary }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Тип:{% for type in task.type.all %}{{ type.name }}{% if not forloop.last %},{% endif %}{% endfor %}</h6>
              <p class="card-text">Статус: {{ task.status.name }}</p>
              <a href="{% url "webapp:task_view" task.pk %}" class="card-link">More...</a>
              {% if user.is_authenticated %}
                  {% if perms.webapp.delete_task_in_own_project and request.user in project.users.all %}
                        <a href="{% url "webapp:task_delete" task.pk %}" class="card-link">Delete</a>
                  {% endif %}
                  {% if perms.webapp.change_task_in_own_project and request.user in project.users.all %}
                        <a href="{% url "webapp:task_update" task.pk %}" class="card-link">Update</a>
                  {% endif %}
              {% endif %}
          </div>
        </div>
        {% empty %}
            <p>No tasks yet.</p>
        {% endfor %}
    </div>
    <br>
    <a href="{% url "webapp:project_list" %}">Return to projects</a>
{% endblock %}